Argument, KEYWORD, AND SYNTAX

In [1]:
def add(a, b):
    return a+b

In [2]:
add(4,5)

9

A requirement where we have to add suppose 100 number above mechanism is not efficient. How to define a function which takes n number of argument

In [3]:
def add(*args):
    return args

In [4]:
add()

()

In [5]:
add(1)

(1,)

In [6]:
add(1,2,3,4)

(1, 2, 3, 4)

In [7]:
add(1,2,3,4,5,6,7,8,9,0,334,7)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 334, 7)

to do the above just specify an argument with asterict sign like: *args. all such data that we pass the function will "pack it in a tuple"

In [8]:
def add(*args):
    k = 0
    for i in args:
        k = k + i
    return(k)

In [9]:
add(0)

0

In [10]:
add(1,2,3,4,5)

15

In [11]:
def multiply_all(number, *args):
    return number * args

In [12]:
multiply_all(5)

()

In [13]:
multiply_all(5,6,7)

(6, 7, 6, 7, 6, 7, 6, 7, 6, 7)

In [19]:
def profile(**kwargs):
    return kwargs

Use of ** with an argument specifies that it is expecting a key:value pair sort of argument i.e. a dictionary

In [20]:
profile(1)

TypeError: profile() takes 0 positional arguments but 1 was given

In [21]:
profile(a=1)

{'a': 1}

In [17]:
profile(name = "anshul", email = "anshulpa22@gmail.com", phone = 551883813)

{'name': 'anshul', 'email': 'anshulpa22@gmail.com', 'phone': 551883813}

In [22]:
def profile(**kwargs):
        for i in kwargs.items():
                print (i)
        return kwargs

In [23]:
profile(name = "anshul", email = "anshulpa22@gmail.com", phone = 551883813)

('name', 'anshul')
('email', 'anshulpa22@gmail.com')
('phone', 551883813)

{'name': 'anshul', 'email': 'anshulpa22@gmail.com', 'phone': 551883813}

In [25]:
def profile(**kwargs):
        for i in kwargs.keys():
                print (i)
        return kwargs

In [26]:
profile(name = "anshul", email = "anshulpa22@gmail.com", phone = 551883813)

name
email
phone

{'name': 'anshul', 'email': 'anshulpa22@gmail.com', 'phone': 551883813}

In [27]:
def profile(**kwargs):
        for i in kwargs.values():
                print (i)
        return kwargs

In [28]:
profile(name = "anshul", email = "anshulpa22@gmail.com", phone = 551883813)

anshul
anshulpa22@gmail.com
551883813

{'name': 'anshul', 'email': 'anshulpa22@gmail.com', 'phone': 551883813}

In [29]:
def profile(company, **kwargs):
        for i in kwargs.values():
                print (i)
        return kwargs

In [30]:
profile("euron", name = "anshul", email = "anshulpa22@gmail.com", phone = 551883813)

anshul
anshulpa22@gmail.com
551883813

{'name': 'anshul', 'email': 'anshulpa22@gmail.com', 'phone': 551883813}

In [32]:
profile("anshul")

{}

In [33]:
def mix(*args, **kwargs):
    return args, kwargs

In [34]:
mix()

((), {})

In [35]:
mix(23,34,45)

((23, 34, 45), {})

In [37]:
mix(1,2,3, name="anshul", amail="anshulpa22")

((1, 2, 3), {'name': 'anshul', 'amail': 'anshulpa22'})

In [48]:
def great(name):
    print(f"you are great {name}")

In [49]:
great("anshul")

you are great anshul

In [50]:
great(name = "anshul")

you are great anshul

In [51]:
def great1(name, /):
    print(f"you are great {name}")

In [52]:
great1("anshul")

you are great anshul

In [53]:
great1(name = "anshul")

TypeError: great1() got some positional-only arguments passed as keyword arguments: 'name'

Herein "def great1(name, /)", the purpose of "/" is to restrict the passing of keyword argument as shown in above exmaple

In [58]:
def great2(name, *, age, phone):
    print(f"you are great {name} , {age} , {phone}")

In [59]:
great2("anshul, 32, 8878887")

TypeError: great2() missing 2 required keyword-only arguments: 'age' and 'phone'

Herein "great2(name, *, age, phone):" when we put "*", it means that it allows only keyword arguments. So, while calling the function we need to give keyword arguments.

In [60]:
great2(name="anshul", age = 12, phone = 556666)

you are great anshul , 12 , 556666

So, "/" does not allow us to pass keyword argument

"*" does not allow to pass positional arguments