Lists

In [1]:
# Define a list

l = []

In [2]:
type(l)

list

A list can contain any type of storage of integer, float, string, complex, boolean or a combination of these. It also supports both forward and backward indexing as in string

In [3]:
l = [3, 4, 5, 6.6, 3+8j, True, "ssss"]
l

[3, 4, 5, 6.6, (3+8j), True, 'ssss']

In [4]:
l[0]

3

In [5]:
l[-1]

'ssss'

In [6]:
l[0:5]

[3, 4, 5, 6.6, (3+8j)]

In [7]:
l[0:8:2]

[3, 5, (3+8j), 'ssss']

In [8]:
l[::-1]

['ssss', True, (3+8j), 6.6, 5, 4, 3]

List is an iterable object

In [9]:
for i in l:
    print(i)

3
4
5
6.6
(3+8j)
True
ssss

In [11]:
# Try to extract only integer data from the above list
for i in l:
    if type(i)==int and i > 3:
        print(i)

4
5

In [12]:
l.append(56)
l

[3, 4, 5, 6.6, (3+8j), True, 'ssss', 56]

In [13]:
l.append("euron")
l

[3, 4, 5, 6.6, (3+8j), True, 'ssss', 56, 'euron']

l.append() appends thae additional data at the end of list

In [14]:
l.insert(2, "anshul")
l

[3, 4, 'anshul', 5, 6.6, (3+8j), True, 'ssss', 56, 'euron']

Insert inseets the data at the specified index

In [15]:
l.extend(2)

TypeError: 'int' object is not iterable

In [17]:
l.extend("anshul")
l

[3,
 4,
 'anshul',
 5,
 6.6,
 (3+8j),
 True,
 'ssss',
 56,
 'euron',
 'a',
 'n',
 's',
 'h',
 'u',
 'l',
 'a',
 'n',
 's',
 'h',
 'u',
 'l']

Extend function alwys expects an iterable item. A data which can be extracted one by one and then each character extracterd will be added to the list. This thing will not work as integer is not iterable.

In [18]:
l.extend([2,3,4,5,6])
l

[3,
 4,
 'anshul',
 5,
 6.6,
 (3+8j),
 True,
 'ssss',
 56,
 'euron',
 'a',
 'n',
 's',
 'h',
 'u',
 'l',
 'a',
 'n',
 's',
 'h',
 'u',
 'l',
 2,
 3,
 4,
 5,
 6]

In [19]:
l.pop()

6

pop takes the data from the last or the desired location. After this operation the list does not contain the item popped out of the list

In [21]:
l.pop(2)
l

[3,
 4,
 6.6,
 (3+8j),
 True,
 'ssss',
 56,
 'euron',
 'a',
 'n',
 's',
 'h',
 'u',
 'l',
 'a',
 'n',
 's',
 'h',
 'u',
 'l',
 2,
 3,
 4,
 5]

In [22]:
l.pop(100)

IndexError: pop index out of range

In [23]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [24]:
l.remove(4)

remove function removes the data occuring only at the very first instance in a list. If the list has the same data at multiple locations then also the data point at which the first location will only be deleted. If the dat is not found it will generate an error

In [26]:
l.count(5)

1

In [27]:
l.index(5)

22

In [28]:
l.index(500)

ValueError: 500 is not in list

In [29]:
l = [1, 2, 3, 4]
l1 = l

hERE IN ABOVE, INTERNALLY, L WILL HAVE A ADDRESS LOCATION. Since l1 = l, l1 will also refer to the same place

In [30]:
id(l)

4531450112

In [31]:
id(l1)

4531450112

In [34]:
l[0] = "sudhanshu"
l

['sudhanshu', 2, 3, 4]

In [35]:
l1

['sudhanshu', 2, 3, 4]

Even though we have not made any changes in l1, then also when l is changed, l1 also changed as both of them are referring to same locatioon

In [36]:
l2 = l.copy()
l2

['sudhanshu', 2, 3, 4]

In [37]:
id(l2)

4452460032

In [38]:
id(l)

4531450112

In [39]:
l[0] = 2
l

[2, 2, 3, 4]

In [40]:
l1

[2, 2, 3, 4]

In [41]:
l2

['sudhanshu', 2, 3, 4]

l2 = l.copy() is called Shallow Copy
l1 = l is called Deep Copy

In [42]:
l.clear()
l

[]