List, Set, Dict Comprehension

In [1]:
l = []
for i in range(8):
    print(i**2)

0
1
4
9
16
25
36
49

I alos want to store this into list l

In [2]:
l = []
for i in range(8):
    print(i**2)
    l.append(i**2)

0
1
4
9
16
25
36
49

In [3]:
l

[0, 1, 4, 9, 16, 25, 36, 49]

The above same operation can be done via Comprehension

The below operation is called list comprehension

In [4]:
[i**2 for i in range(8)]

[0, 1, 4, 9, 16, 25, 36, 49]

In [5]:
[i for i in range(1, 21) if i % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
l = ["anshul", "euron", "python"]
[i.upper() for i in l]

['ANSHUL', 'EURON', 'PYTHON']

In [7]:
l = [[4,5], [7,8]]
l1 = [4,5,7,8]
#How to get l1 from l via list comprehension
[i for i in l ]

[[4, 5], [7, 8]]

In [9]:
l = [[4,5], [7,8]]
l1 = [4,5,7,8]
#How to get l1 from l via list comprehension
[j for i in l for j in i]

[4, 5, 7, 8]

In [ ]:
{i for i in [1,2,3,44,3,5]} # Set Comprehension

{1, 2, 3, 5, 44}

In [ ]:
l = ["anshul", "euron", "python"]
for i in l:
    print(i)
{i[0] for i in l}

anshul
euron
python

In [ ]:
{i: i**2 for i in range(11)}. # Dict Comprehension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}