For Loop Staement

In [1]:
s = "sudhanshu"
for i in s :
    print(i)

s
u
d
h
a
n
s
h
u

In [2]:
l = [5, 6, 7, 8]
for i in l :
    print(i)

5
6
7
8

In [3]:
s = "sudhanshu"
for i in s :
    print(i.upper())

S
U
D
H
A
N
S
H
U

In [4]:
range(5)

range(0, 5)

Range function generate data excluding the upper limit

In [5]:
list(range(5))

[0, 1, 2, 3, 4]

In [6]:
list(range(3, 9))

[3, 4, 5, 6, 7, 8]

In [7]:
list(range(3, 9, 2))

[3, 5, 7]

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
s = "sudhanshu"
for i in range(0, len(s), 2):
    print(s[i])

s
d
a
s
u

In [20]:
# Reverse the string
s = "sudhanshu"
for i in range(len(s)-1, -1, -1) :
    print(s[i])

u
h
s
n
a
h
d
u
s

In [21]:
n = 10
for i in range(1, n+1):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [28]:
n = 5
for i in range(1, n+1):
    for x in range(1, i+1):
        print(x)

1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

In [36]:
n = 5
for i in range(1, n+1):
    for x in range(1, i+1):
        print(x, end = " ")  #separte the dat in the same line
    
    print(end = "\n")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [39]:
n = 5
for i in range(1, n+1):
    print(" "*(n-i) + "*"*i)

    *
   **
  ***
 ****
*****

In [43]:
n = 10
for i in range(1, n+1, 2):
    print(" "*int(((n-i)/2)) + "*"*i + " "*int(((n-i)/2)))

    *
   ***
  *****
 *******
*********

In [44]:
n = 5
for i in range(1, n+1):
    print(" "*(n-i) + "*"*(2*i-1))

    *
   ***
  *****
 *******
*********

In [45]:
n = 5
for i in range(1, n+1):
    print(" "*(n-i) + "*"*(2*i-1))
for i in range(n-1, 0, -1):
    print(" "*(n-i) + "*"*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *