Data Structure: Set

In [1]:
s = {}

In [2]:
type(s)

dict

In [3]:
s = {3}

In [4]:
type(s)

set

1. When we define s = {}, here s is empty, the python interpreter recognizers it as a Dictionary
2. When we have a non empty dictionary like s = {3}, it is called a SET

In [5]:
s = {2,3,4,5,6,7,8,8,9,"sudh", "sudh", "sudh", "euron"}

In [6]:
s

{2, 3, 4, 5, 6, 7, 8, 9, 'euron', 'sudh'}

Set is a data structure which removes the duplicate enteries from it as shown above

In [7]:
s1 = {(4,5,6,7)}

In [8]:
s2 = {[1,2,3,4]}

TypeError: unhashable type: 'list'

The above operaton failed because the element inside a set is immutable and here when we give list as a set entry which is mutable.

1. The Set in itself is mutable
2. The elements of a set have to be immutable

In [9]:
l = [1,2,3,4]
s = set(l) # Converting a list into set
s

{1, 2, 3, 4}

In [10]:
t = (1,2,2,3,3,3,4,5,6,"anshul", "anshul") # Tuple
s = set(t)
s

{1, 2, 3, 4, 5, 6, 'anshul'}

In [ ]:
tuple(s). # Converting a set to tuple

(1, 2, 3, 4, 5, 6, 'anshul')

In [12]:
list(s)

[1, 2, 3, 4, 5, 6, 'anshul']

In [14]:
s.add(34)
s

{1, 2, 3, 34, 4, 5, 6, 'anshul'}

Set is an unordered collection of elememts and that is wy whn we used add function to add a element into set it added to a ransdom,location in aset

In [ ]:
s1 = s.copy(). # Shallow Copy
s1

{1, 2, 3, 34, 4, 5, 6, 'anshul'}

In [16]:
id(s)

4622397984

In [17]:
id(s1)

4622399104

In [18]:
s.discard(34)
s

{1, 2, 3, 4, 5, 6, 'anshul'}

In [19]:
s.remove(6)
s

{1, 2, 3, 4, 5, 'anshul'}

The difference between remove and discard:
1. If element that needs to be discarded does not exits, it did not gives error. Here it does nothing.
2. If we use remove, and element does not exist it returns an error

In [20]:
s1 = {3,4,5}
s2 = {1,2,3}
s1.difference(s2)

{4, 5}

In [21]:
s1.intersection(s2)

{3}

In [22]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [23]:
s1.pop()

3

In [24]:
s1

{4, 5}

In [25]:
s1.clear()

In [26]:
2 in s2

True

In [27]:
2 not in s

False

In [28]:
s1 = {3,4,5,6,7}
s2 = {4,5,6}

In [29]:
s1.issubset(s2)

False

In [30]:
s2.issubset(s1)

True

In [31]:
f = frozenset({1,2,3,4,4,5,5,5,56})

In [32]:
type(f)

frozenset

frozenset(): makes the set immutable with all properties of a set