Tuple

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t = (3, 4, 5, 6.5, "anshul", 8+6j, True)
t

(3, 4, 5, 6.5, 'anshul', (8+6j), True)

Tuples can also have integers, float, strings, Boolean, Complex number or any combination of these. What is the difference between a list and tuple except for the declaration:

1. Tuple is a immutable entity while list is a mutable entity
2.

In [4]:
t[0]

3

In [5]:
t[2:6]

(5, 6.5, 'anshul', (8+6j))

In [6]:
t[0] = "anshul"

TypeError: 'tuple' object does not support item assignment

In [8]:
l = [1, 2, 3]
t = (1,2, 3)

In [9]:
l[0] = "anshul"
l

['anshul', 2, 3]

In [10]:
t[0] = "anshul"

TypeError: 'tuple' object does not support item assignment

In [11]:
for i in t:
    print(i)

1
2
3

Tuple are iterable

In [12]:
a = 1
b = 2
c = 3

In [13]:
t  = 1,2,3

In [14]:
type(t)

tuple

In [15]:
a,b,c = t

In [16]:
a

1

In [17]:
b

2

In [18]:
c

3

t = 1,2,3 is called packing operation where a =1, b = 2, c = 3

a,b,c = t is called unpacking operation

In [19]:
t

(1, 2, 3)

In [20]:
t.count(2)

1

In [21]:
t.index(2)

1

In [22]:
t = (1, 2, 3, 4, (4, 4, 6, 7))

In [23]:
t[4]

(4, 4, 6, 7)

This is what called a Nested Tuple

In [25]:
t[4][2]

6

In [26]:
len(t)

5