This Lecture is for String

In [1]:
s = "anshul"
type(s)

str

In [2]:
s = 'anshul'
type(s)

str

In [3]:
s1 = 'don't'

SyntaxError: unterminated string literal (detected at line 1) (1507051866.py, line 1)

Here we get an error as python interpretor is not able to understand where the string terminates

In [4]:
# The solution is if we have a single quote to be used as a part of string, we should start and end the string with double quotes and viceversa
s2 = "don't"
print(s2)

don't

How a string is processed in Python
Suppose s = "anshul"
In string anshul each charcter is assigned an index starting from 0 to 5 in forward way and from -1 to -6 in reverse way

In [5]:
print(s2[2])

n

In [6]:
print(s2[3])

'

In [10]:
print(s2[3:])

't

In [11]:
print(s2[-4])

o

In [12]:
print(s2[0:100])

don't

In [13]:
s3 = "euron"
print(s3[0:3:2])

er

In [14]:
type(print(s3[0:3:2]))

er

NoneType

In [18]:
s3[4:0:-1]

'noru'

During reverse operation we are not getting the first letter

In [19]:
s3[::-1]

'norue'

In [21]:
s3[8:-6:-1]

'norue'

In Built Function in String

In [22]:
s3.upper()

'EURON'

In [23]:
s3.lower()

'euron'

In [27]:
s4 = "anshul pandey"
s4.capitalize()

'Anshul pandey'

In [28]:
s4.title()

'Anshul Pandey'

The difference between Capitalize and title function is that the capitalize function only capitalizes the first letter of string while the
title function capitalizes the first letter of each and every word

In [34]:
s5 = "euron is a edutech company"
s5.find("e")

0

find function checks for the letter in the string and returns the position at which the first time that charcter is encounterted

In [35]:
s5.find("ed")

11

In [36]:
s5.find("sudh")

-1

In [37]:
s5.index("ed")

11

In case of index function if the provided character or string is not availbale, an error will be generated. While, with find function, if the string or charcter is not availbale it returns -1. This is the difference between the index and find function

In [38]:
s5.count("e")

3

In [39]:
s5.count("ed")

1

In [40]:
s5.count("anshul")

0

There are some in built function in string which starts with is. such function return boolean values

In [41]:
s5.isalpha()

False

In [42]:
s = "euron"
id(s)

4401014000

In [44]:
modify = s + "tech"
modify

'eurontech'

In [45]:
id(modify)

4643078832

In [46]:
a = "anshul"
b = "anshul"

In [47]:
id(a)

4380918240

In [48]:
id(b)

4380918240

Python will never allocate duplicate space for same data. That is why in above we see same address for both a and b. This concept is called entering

In [49]:
a[0]

'a'

In [50]:
a[0] = 'a'

TypeError: 'str' object does not support item assignment

The above error is generated as string is immutable and such items can not be modified.

In [53]:
c = a.replace("s", "a")

In [54]:
c

'anahul'

In [55]:
id(c)

4420271248

In [56]:
id(a)

4380918240

Here above when we create a new string from a using replace function, c will be allocated a new location in memory. This again confirms the immutable nature of string functions

In [57]:
d = "sudh" + "anshu"

In [58]:
d

'sudhanshu'

In [59]:
e = "sudhanshu"
e

'sudhanshu'

In [60]:
id(d)

4642611760

In [61]:
id(e)

4642611760

Again as per the "intering" concept since data was already availbale in d so the data in e will not be allocated anew location in memory

In [62]:
print(" my name is anshul apndey and i am working with TII")

 my name is anshul apndey and i am working with TII

uSE ESCAPE CHARACTER FOR NEW LINE PRINING \n

In [66]:
print("my name is anshul pndey and \ni am working with TII")

my name is anshul pndey and
i am working with TII

In [67]:
print(" my name is anshul pandey and \ti am working with TII")

 my name is anshul pandey and 	i am working with TII

\t is a space charcater which introduces a three charcter space: tab

In [68]:
print("\\")

\

In [69]:
raw_data = "C:\Users\anshul\Desktop"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3414044118.py, line 1)

In [72]:
raw_data = r"C:\Users\anshul\Desktop"

In [73]:
raw_data

'C:\\Users\\anshul\\Desktop'

raw_data = r"C:\Users\anshul\Desktop" this gives error as python is not able to interpret this valid location. We need to use special techniques to read such data.  We can do with the hep of raw string

put   r in the beginning to make the string raw

In [74]:
print(raw_data)

C:\Users\anshul\Desktop

An alternate way is to use double slash instead of single one. Like below

In [77]:
raw_data = "C:\\Users\\anshul\\Desktop"
print(raw_data)

C:\Users\anshul\Desktop

unicode for charcters. For example we can get the unicode for smiley.

In [78]:
print("\U0001F600")

😀

In [79]:
print("\N{gREEK CAPITAL LETTER Delta}")

Δ

In [83]:
print("\N{SNoWMAN}")

☃

Apart from the unicode there is something called named unicode starting with \N:

In [84]:
"my name is anshul
i am learning python
i am working with euron"

SyntaxError: unterminated string literal (detected at line 1) (1173536356.py, line 1)

The baove is an error as it is the case of a multi line string. For multi line string everything have to be kept in tripple double quotes

In [85]:
"""my name is anshul
i am learning python
i am working with euron"""

'my name is anshul\ni am learning python\ni am working with euron'

In [86]:
"my name is anshul"\
"i am learning python"\
"i am working with euron"

'my name is anshuli am learning pythoni am working with euron'

String Formatting in a Dynamic Way

In [87]:
print("my name i asnhul pandey, my age is 30, i am working with euron")

my name i asnhul pandey, my age is 30, i am working with euron

I want to parmetrize the name, age and company name in the above string. How to make this dynamic. Thi can be done with the help of "f"

In [88]:
name = "anshul"
age = 30
company = "euron"
print(f"my name is {name} my age is {age}, i am working with {company}")

my name is anshul my age is 30, i am working with euron

To make it even more dynamic, we can use the input function

In [2]:
name = input("enter your name")
age = input("enter your age")
company = input("enter your company")
print(f"my name is {name} my age is {age}, i am working with {company}")

my name is anshul my age is 32, i am working with tii

With input function whatever we are goig to enter will always be treated as String. To overcome this we can do typecasting. For instance, for age we can declare it as an integer. If the input is not integer, it will generate an error in the case

In [4]:
name = input("enter your name")
age = int(input("enter your age"))
company = input("enter your company")
print(f"my name is {name} my age is {age}, i am working with {company}")

my name is anshul my age is 7, i am working with tii

Instead of suinf f we can use another way called format function.

In [5]:
name = input("enter your name")
age = input("enter your age")
company = input("enter your company")
print("my name is {name} my age is {age}, i am working with {company}".format(name=name, age=age, company=company))

my name is anshul my age is 5, i am working with tii

Templating

In [11]:
from string import Template

In [16]:
Temp = Template("my name is $name , my age is $age , my company is $company")

In [17]:
name = input("enter your name")
age = input("enter your age")
company = input("enter your company")

In [19]:
temp = Temp.substitute(name=name, age=age, company=company)
temp

'my name is anshul , my age is 5 , my company is tii'

In [24]:
euron_email_temp = Template(
    """
    From:$sender
    To:$receiver
    Subject:$subject
    $body
    """
)

In [25]:
result = euron_email_temp.substitute(
    sender="anshul.apndey@tii.ae",
    receiver="anshulpa22@gmail.com",
    subject="welcome to euron",
    body="Hi, anshul, welcome to euron",
)